@font-face{
    font-family: 'circular-std-black';
    src: url('../../fonts/Circular Std Black.ttf');
    font-weight: bold;
    font-display: fallback;
}
@font-face{
    font-family: 'circular-std-book';
    src: url('../../fonts/Circular Std Book.ttf');
    font-display: fallback;
}
@font-face{
    font-family: 'circular-std-medium';
    src: url('../../fonts/Circular Std Medium.ttf');
    font-display: fallback;
}
@font-face{
    font-family: 'circular-std-bold';
    src: url('../../fonts/Circular Std Bold.ttf');
    font-display: fallback;
}

@font-face{
    font-family: 'Muli-Regular';
    src: url('../../fonts/Muli-Regular.ttf');
}

@font-face{
    font-family: 'Muli-Italic';
    src: url('../../fonts/Muli-Italic.ttf');
}

@font-face{
    font-family: 'Muli-Light';
    src: url('../../fonts/Muli-Light.ttf');
}

body {
    font-family: 'Multi-Regular', sans-serif;
}

.row {
    margin: 0;
}

.content-estadisticas {
    position: sticky;
    top: 0px;
    height: 20vh;
    background-color: #c6c6c6;
    z-index: 1000;
}

@media (max-width: 1440px){
    .content-estadisticas {
        height: 150px !important;
    }

    .content-stat-principal{
        top: 150px !important;
    }

    .content-info-realtime {
        top: 150px !important;
    }

    .card-st {
        height: 170% !important;
        position: relative;
        top: -110% !important;
    }
}

@media (min-width: 1440px){
    .content-estadisticas {
        height: 200px !important;
    }

    .content-stat-principal{
        top: 200px !important;
    }

    .content-info-realtime {
        top: 200px !important;
    }

    .card-st {
        height: 200% !important;
        position: relative;
        top: -110% !important;
    }

    .titulo {
        font-size: 1.7vw !important;
    }
}

.content-realtime {
    padding: 20px;
}

.content-stat-principal {
    position: sticky;
    top: 20vh;
    width: 100%;
    height: auto;
    word-wrap: break-word;
}

.content-info-realtime {
    position: sticky;
    top: 20vh;
    background-color: #c6c6c6;
    padding: 10px 20px 10px 20px;
    font-family: 'circular-std-bold';
    z-index: 900;
}

.logo-img-fluid {
    width: auto;
    height: 8rem;
    transform: translateX(-10%);
}

.titulo {
    font-size: 2.1vw;
    font-family: 'circular-std-black';
    color: rgb(152, 0, 0);
}

.logo {
    padding-right: 20px;
    padding-top: 10px;
}

.content-img-logo {
    display: flex;
    align-items: center;
}

.card-st {
    top: 0;
    height: 15vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 4px 0 #35101059;
}

.iio{
    height: auto;
    margin-bottom: 10px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 7px #00000057;
}

.texto-iio {
    padding: 0px;
}

.iio-header {
    font-weight: 700;
    padding-left: 15px;
    font-size: 1.4rem;
    padding-top: 0.8rem;
}

.title-iio-alert{
    color: rgb(172, 9, 9) !important;
}

.title-iio{
    color: rgb(39, 1, 1) !important;
}

.tag-ubicacion {
    font-weight: 600;
}

.iio-footer {
    padding: 5px 15px;
    background-color: #b0ffb2;
    border-radius: 0 0 18px 18px;
    
}

.tag-tiempo {
    font-style: italic;
}

#st_top_tie{
    position: absolute;
    width: 100%;
}

/*Placeholder*/
.iio-item {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 12px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 7px #00000057;
    margin: 0 auto;
    max-width: 100%;
    min-height: 200px;
 }
 
 
 @keyframes placeHolderShimmer{
     0%{
         background-position: -468px 0
     }
     100%{
         background-position: 468px 0
     }
 }
 
 .animated-background {
     animation-duration: 1s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
     animation-name: placeHolderShimmer;
     animation-timing-function: linear;
     background: #f6f7f8;
     background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
     background-size: 800px 104px;
     height: 96px;
     position: relative;
 }
 
 
 .background-masker {
     background: #fff;
     position: absolute;
 }
 
 /* Every thing below this is just positioning */
 
 .background-masker.header-top,
 .background-masker.header-bottom,
 .background-masker.subheader-bottom {
     top: 0;
     left: 40px;
     right: 0;
     height: 10px;
 }
 
 .background-masker.header-left,
 .background-masker.subheader-left,
 .background-masker.header-right,
 .background-masker.subheader-right {
     top: 10px;
     left: 40px;
     height: 8px;
     width: 10px;
 }
 
 .background-masker.header-bottom {
     top: 18px;
     height: 6px;
 }
 
 .background-masker.subheader-left,
 .background-masker.subheader-right {
     top: 24px;
     height: 6px;
 }
 
 
 .background-masker.header-right,
 .background-masker.subheader-right {
     width: auto;
     left: 40vw;
     right: 0;
 }
 
 .background-masker.subheader-right {
     left: 50vw;
 }
 
 .background-masker.subheader-bottom {
     top: 30px;
     height: 10px;
 }
 
 .background-masker.content-top,
 .background-masker.content-second-line,
 .background-masker.content-third-line,
 .background-masker.content-second-end,
 .background-masker.content-third-end,
 .background-masker.content-first-end {
     top: 40px;
     left: 0;
     right: 0;
     height: 6px;
 }
 
 .background-masker.content-top {
     height:20px;
 }
 
 .background-masker.content-first-end,
 .background-masker.content-second-end,
 .background-masker.content-third-end{
     width: auto;
     left: 70vw;
     right: 0;
     top: 60px;
     height: 8px;
 }
 
 .background-masker.content-second-line  {
     top: 68px;
 }
 
 .background-masker.content-second-end {
     left: 45vw;
     top: 74px;
 }
 
 .background-masker.content-third-line {
     top: 82px;
 }
 
 .background-masker.content-third-end {
     left: 55vw;
     top: 88px;
 }

 .oculto {
     display: none;
 }

 #container{
     border-radius: 18px;
     box-shadow: 0 0 4px 0 #35101059;
 }

 .icon-select {
    color: #797979;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.control-stick{
    position: sticky !important;
    top: 200px !important;
    z-index: 1000;
}

.docs-datepicker-container {
    border: 1px dashed #eee;
    display: none;
    margin: 10px auto;
    min-height: 160px;
    position: relative;
  }

  .docs-datepicker-container-2 {
    border: 1px dashed #eee;
    display: none;
    margin: 10px auto;
    min-height: 160px;
    position: relative;
  }
  
  .docs-datepicker-container::before {
    color: #ccc;
    content: 'Container for inline datepicker';
    font-size: 12px;
    left: 50%;
    line-height: 20px;
    margin-left: -82px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  .docs-datepicker-container-2::before {
    color: #ccc;
    content: 'Container for inline datepicker';
    font-size: 12px;
    left: 50%;
    line-height: 20px;
    margin-left: -82px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  
  .docs-datepicker-container > .datepicker-container {
    margin: 10px auto;
  }
  
  .docs-datepicker-container-2 > .datepicker-container {
    margin: 10px auto;
  }

  .br-d {
    border-right: 2px dashed #a3a1a1 !important;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltips {
    position: relative;
    display: inline-block;
  }