{% extends "base/base.html" %}
{% load static %}
{% load my_forms_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/principal/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bsmultiselect/css/BsMultiSelect.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datepicker/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/mdtime/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/mdtime/mdtimepicker-theme.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css' %}">
{% endblock extracss %}

{% block content %}
    <main>
        <div class="wrapper-principal">
            <div class="content-estadisticas">
                <div class="row h-100">
                    <div class="col-xl-1 col-lg-2"></div>
                    <div class="col-xl-10 col-lg-8">
                        <div class="row h-100">
                            <div class="col-12"><h4 class="text-center titulo">Sistema Popular de Protección para la Paz</h4></div>
                            <div class="col-12">
                                <div class="card-st">
                                    <div id="st_top_tie"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-2 content-img-logo">
                        <img src="{% static 'images/sep.png' %}" alt="sp3" class="logo-img-fluid">
                    </div>
                </div>
            </div>
            <div class="content-principal">
                <div class="row">
                    <div class="col-4">
                        <div class="content-stat-principal pt-1">
                            <div id="container"></div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 control-stick">
                                <form id="acciones">
                                    <div class="content-info-realtime">
                                        <select name="states" id="selectZodi" class="form-control"  multiple="multiple" style="display: none;">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option selected value="CA">California</option>
                                        </select>
                                        <h5>Información de Interés Operativo <span class="badge badge-pill badge-success" id="numiio">0</span> 
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-danger active">
                                                <input type="radio" name="options" id="realtime" value="realtime" checked autocomplete="off"> <i class="fas fa-clock"></i> Tiempo Real
                                            </label>
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="ayer" value="ayer" autocomplete="off"> <i class="fas fa-undo-alt"></i> Ayer
                                            </label>
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="semana" value="semana" autocomplete="off"> <i class="fas fa-calendar-week"></i> Semana
                                            </label>
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="mes" value="mes" autocomplete="off"> <i class="fas fa-calendar-alt"></i> Mes
                                            </label>
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="rango" value="rango" autocomplete="off" data-toggle="modal" data-target="#modalRangoFecha"> <i class="fas fa-exchange-alt"></i> Rango de Tiempo
                                            </label>
                                        </div>
                                        <button type="button" data-toggle="modal" data-target="#modalFiltro" class="btn btn-sm btn-danger float-right"><i class="fas fa-filter"></i> Filtrar</button></h5>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <div class="content-realtime">
                                    <div id="iios-content" class=".iiocontainer">
                                        
                                    </div>
                                    <div id="loader">
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="placeholder-iio-wrapper">
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                        <div class="iio-item mb-2">
                                            <div class="animated-background">
                                                <div class="background-masker header-top"></div>
                                                <div class="background-masker header-left"></div>
                                                <div class="background-masker header-right"></div>
                                                <div class="background-masker header-bottom"></div>
                                                <div class="background-masker subheader-left"></div>
                                                <div class="background-masker subheader-right"></div>
                                                <div class="background-masker subheader-bottom"></div>
                                                <div class="background-masker content-top"></div>
                                                <div class="background-masker content-first-end"></div>
                                                <div class="background-masker content-second-line"></div>
                                                <div class="background-masker content-second-end"></div>
                                                <div class="background-masker content-third-line"></div>
                                                <div class="background-masker content-third-end"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block modals %}
    <!-- Modal Filtros -->
    <div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="modalFiltroLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFiltroLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p><b>Filtro por Territorio:</b></p>
                        <select name="fzodi[]" id="fzodi" class="js-example-basic-multiple w-100" multiple="multiple">
                            <optgroup label="REDI CAPITAL" data-select2-id="select2-capital">
                                <option value="Distrito Capital">Distrito Capital</option>
                                <option value="Miranda">Miranda</option>
                                <option value="La Guaira">La Guaira</option>
                            </optgroup>
                            <optgroup label="REDI CENTRAL" data-select2-id="select2-central">
                                <option value="Aragua">Aragua</option>
                                <option value="Carabobo">Carabobo</option>
                                <option value="Yaracuy">Yaracuy</option>
                            </optgroup>

                            <optgroup label="REDI OCCIDENTAL" data-select2-id="select2-occidental">
                                <option value="Falcón">Falcón</option>
                                <option value="Lara">Lara</option>
                                <option value="Zulia">Zulia</option>
                            </optgroup>

                            <optgroup label="REDI ORIENTAL" data-select2-id="select2-oriental">
                                <option value="Anzoátegui">Anzoátegui</option>
                                <option value="Monagas">Monagas</option>
                                <option value="Sucre">Sucre</option>
                            </optgroup>

                            <optgroup label="REDI LOS ANDES" data-select2-id="select2-andes">
                                <option value="Mérida">Mérida</option>
                                <option value="Táchira">Táchira</option>
                                <option value="Trujillo">Trujillo</option>
                            </optgroup>

                            <optgroup label="REDI LOS LLANOS" data-select2-id="select2-llanos">
                                <option value="Apure">Apure</option>
                                <option value="Barinas">Barinas</option>
                                <option value="Cojedes">Cojedes</option>
                                <option value="Guárico">Guárico</option>
                                <option value="Portuguesa">Portuguesa</option>
                            </optgroup>

                            <optgroup label="REDI GUAYANA" data-select2-id="select2-guayana">
                                <option value="Amazonas">Amazonas</option>
                                <option value="Bolívar">Bolívar</option>
                                <option value="Delta Amacuro">Delta Amacuro</option>
                            </optgroup>

                            <optgroup label="REDI MAIN" data-select2-id="select2-main">
                                <option value="Nueva Esparta">Nueva Esparta</option>
                            </optgroup>
                        </select>
                        <p><b>Filtro por Temática:</b></p>
                        <select name="ftematica[]" id="ftematica" class="js-example-basic-multiple w-100" multiple="multiple">
                            <option value="TIE1">ASEGURAMIENTO DE LOS PRINCIPALES DIRIGENTES DE LA REVOLUCIÓN Y C/R</option>
                            <option value="TIE2">AMENAZAS A LA SEGURIDAD Y DEFENSA DE LA NACIÓN</option>
                            <option value="TIE3">ASEGURAMIENTO DE LAS EMPRESAS ESTRATÉGICAS VINCULADAS AL SECTOR ENERGÉTICO NACIONAL</option>
                            <option value="TIE4">ASEGURAMIENTO DE LAS EMPRESAS E INSTITUCIONES VINCULADAS AL SISTEMA PRODUCTIVO Y FINANCIERO NACIONAL</option>
                            <option value="TIE5">OTROS FACTORES QUE AFECTAN EL ORDEN INTERNO Y DESARROLLO INTEGRAL DE LA NACIÓN</option>
                        </select>
                        <p><b>Filtro por Modalidad:</b></p>
                        <select name="fmodalidad[]" id="fmodalidad" class="js-example-basic-multiple w-100" multiple="multiple">
                            <optgroup label="TIE1" data-select2-id="select2-tie1">
                                <option value="Distrito Capital">Distrito Capital</option>
                                <option value="Miranda">Miranda</option>
                                <option value="La Guaira">La Guaira</option>
                            </optgroup>
                            <optgroup label="TIE2" data-select2-id="select2-tie2">
                                <option value="Aragua">Aragua</option>
                                <option value="Carabobo">Carabobo</option>
                                <option value="Yaracuy">Yaracuy</option>
                            </optgroup>

                            <optgroup label="TIE3" data-select2-id="select2-tie3">
                                <option value="Falcón">Falcón</option>
                                <option value="Lara">Lara</option>
                                <option value="Zulia">Zulia</option>
                            </optgroup>

                            <optgroup label="TIE4" data-select2-id="select2-tie4">
                                <option value="Anzoátegui">Anzoátegui</option>
                                <option value="Monagas">Monagas</option>
                                <option value="Sucre">Sucre</option>
                            </optgroup>

                            <optgroup label="TIE5" data-select2-id="select2-tie5">
                                <option value="Mérida">Mérida</option>
                                <option value="Táchira">Táchira</option>
                                <option value="Trujillo">Trujillo</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="javascript:aplicarFiltro()" data-dismiss="modal">Aceptar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal Opciones IIO -->
    <div class="modal fade" id="modalOpcionesIIO" data-backdrop="static" data-keyboard="false" tabindex="1" aria-labelledby="modalOpcionesIIOLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpcionesIIOLabel">Opciones IIO  <span id="dataM"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="edit-tematica" class="form-label">Temática</label>
                            <input type="text" class="form-control" id="edit-tematica" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="edit-modalidad" class="form-label">Modalidad</label>
                            <input type="text" class="form-control" id="edit-modalidad" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="edit-iio" class="form-label">Información de Interés Operativo</label>
                            <textarea class="form-control" id="edit-iio" rows="3"></textarea>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12">
                        <p><b>Ubicación</b></p>
                        <div class="form-group mb-3">
                            <label for="edit-redi" class="form-label">REDI</label>
                            <input type="text" class="form-control" id="edit-redi" placeholder="REDI">
                        </div>
                        <div class="form-group mb-3">
                            <label for="edit-zodi" class="form-label">ZODI</label>
                            <input type="text" class="form-control" id="edit-zodi" placeholder="ZODI">
                        </div>
                        <div class="form-group mb-3">
                            <label for="edit-adi" class="form-label">ADI</label>
                            <input type="text" class="form-control" id="edit-adi" placeholder="ADI">
                        </div>
                        <div class="form-group mb-3">
                            <label for="edit-parroquia" class="form-label">PARROQUIA</label>
                            <input type="text" class="form-control" id="edit-parroquia" placeholder="PARROQUIA">
                        </div>
                        <hr>
                    </div>
                    <div class="col-12">
                        <p><b>Opciones</b></p>
                        <button type="button" class="btn btn-success" id="edit-btn-ocultar">Ocultar</button>
                        <button type="button" class="btn btn-success" id="edit-btn-aprobar" data-toggle="modal" data-target="modalAprobar">Aprobar</button>
                        <button type="button" class="btn btn-primary" id="edit-btn-editar">Editar</button>
                        <button type="button" class="btn btn-danger" id="edit-btn-eliminar" data-toggle="modal" data-target="#modalDelete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:deleteiio()" class="btn btn-primary">Aceptar</button>
            </div>
            </div>
        </div>
    </div>


    <!-- Modal Rango Fecha -->
    <div class="modal fade" id="modalRangoFecha" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalRangoFechaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRangoFechaLabel">Rango de Fecha</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 br-d">
                        <p><b>Fecha Inicio:</b></p>
                        <div class="docs-datepicker mb-2">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="datFrom" id="dateFrom" placeholder="Fecha Inicio" data-toggle="datepicker" autocomplete="off">
                                <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled="">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            </div>
                        </div>
                        <p><b>Hora Inicio:</b></p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="timeFrom" placeholder="Hora Inicio"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <p><b>Fecha Final:</b></p>
                        <div class="docs-datepicker mb-2">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="dateTo" id="dateTo"  placeholder="Fecha Final" data-toggle="datepicker" autocomplete="off">
                                <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled="">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            </div>
                        </div>
                        <p><b>Hora Final:</b></p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="timeTo" placeholder="Hora Final"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:setRangoFecha()" class="btn btn-danger">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
        <!-- Modal -->
    <div class="modal" id="modalDelete" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Eliminar IIO <span id="dataM"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar esta IIO?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:deleteiio()" class="btn btn-danger">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal Aprobar -->
    <div class="modal" id="modalAprobar" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="modalAprobarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAprobarLabel">Aprobar IIO <span id="dataAP"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea <b>Aprobar</b> esta IIO?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:aprobariio()" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
{% endblock modals %}

{% block extrajs %}
    <script src="{{ config.SERVIDOR_NODEAPI }}/socket/socket.io.min.js"></script>
    <script src="{% static 'vendor/highmaps/highmaps.js' %}"></script>
    <script src="{% static 'vendor/highmaps/data.js' %}"></script>
    <script src="{% static 'vendor/highmaps/exporting.js' %}"></script>
    <script src="{% static 'vendor/highmaps/offline-exporting.js' %}"></script>
    <script src="{% static 'vendor/amchart/core.js' %}"></script>
    <script src="{% static 'vendor/amchart/charts.js' %}"></script>
    <script src="{% static 'vendor/amchart/themes/moonrisekingdom.js' %}"></script>
    <script src="{% static 'vendor/amchart/themes/animated.js' %}"></script>
    <script src="{% static 'vendor/dexiejs/dexie.js' %}"></script>
    <script src="{% static 'vendor/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'vendor/nosleep/nosleep.min.js' %}"></script>
    <script src="{% static 'vendor/bsmultiselect/js/BsMultiSelect.min.js' %}"></script>
    <script src="{% static 'vendor/scrollmagic/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/mdtime/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/datepicker.es-ES.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'principal/index.js' %}"></script>
    <script>
    window.is_supervisor = false;
    window.is_milicia = false;
    window.audioPop = '{% static "audio/pop.mp3" %}';
    window.audioAlerta = '{% static "audio/alerta.mp3" %}';
    window.servidorNodeapi = '{{ config.SERVIDOR_NODEAPI }}';
    window.mapVenezuela = "{% static 'maps/venezuela4.json' %}";
    {% if request.user|has_group:"supervisores" %} 
    window.is_supervisor = true;
    {% endif %}

    {% if request.user|has_group:"MILICIA"%}
    window.is_milicia = true;
    {% endif %}

    </script>
    <script async src="{% static 'realtime/js/index.js' %}"></script>
{% endblock extrajs %}