{% extends "base/base.html" %}
{% load static %}
{% load my_forms_tags %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/principal/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bsmultiselect/css/BsMultiSelect.min.css' %}">
{% endblock extracss %}

{% block content %}
    <main>
        <div class="wrapper-principal">
            <div class="content-estadisticas">
                <div class="row h-100">
                    <div class="col-xl-1 col-lg-2"></div>
                    <div class="col-xl-10 col-lg-8">
                        <div class="row h-100">
                            <div class="col-12"><h4 class="text-center titulo">Sistema Popular de Protección para la Paz</h4></div>
                            <div class="col-12">
                                <div class="card-st">
                                    <div id="st_top_tie"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-2 content-img-logo">
                        <img src="{% static 'images/sep.png' %}" alt="sp3" class="logo-img-fluid">
                    </div>
                </div>
            </div>
            <div class="content-principal">
                <div class="row">
                    <div class="col-4">
                        <div class="content-stat-principal pt-1">
                            <div id="container"></div>
                        </div>
                    </div>
                    <div class="col-8">
                        <form id="acciones">
                        <div class="content-info-realtime">
                            <select name="states" id="selectZodi" class="form-control"  multiple="multiple" style="display: none;">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option selected value="CA">California</option>
                            </select>
                            <h5>Información de Interés Operativo <span class="badge badge-pill badge-success" id="numiio">0</span> 
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-danger active">
                                    <input type="radio" name="options" id="realtime" value="realtime" checked autocomplete="off"> <i class="fas fa-clock"></i> Tiempo Real
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="options" id="ayer" value="ayer" autocomplete="off"> <i class="fas fa-undo-alt"></i> Ayer
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="options" id="semana" value="semana" autocomplete="off"> <i class="fas fa-calendar-week"></i> Semana
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="options" id="mes" value="mes" autocomplete="off"> <i class="fas fa-calendar-alt"></i> Mes
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="options" id="rango" value="rango" autocomplete="off"> <i class="fas fa-exchange-alt"></i> Rango de Tiempo
                                </label>
                            </div>
                             <button type="button" data-toggle="modal" data-target="#modalFiltro" class="btn btn-sm btn-danger float-right"><i class="fas fa-filter"></i> Filtrar</button></h5>
                        </div>
                        </form>
                        <div class="content-realtime">
                            <div id="iios-content" class=".iiocontainer">
                                
                            </div>
                            <div id="loader">
                                <div class="iio-item mb-2">
                                    <div class="animated-background">
                                        <div class="background-masker header-top"></div>
                                        <div class="background-masker header-left"></div>
                                        <div class="background-masker header-right"></div>
                                        <div class="background-masker header-bottom"></div>
                                        <div class="background-masker subheader-left"></div>
                                        <div class="background-masker subheader-right"></div>
                                        <div class="background-masker subheader-bottom"></div>
                                        <div class="background-masker content-top"></div>
                                        <div class="background-masker content-first-end"></div>
                                        <div class="background-masker content-second-line"></div>
                                        <div class="background-masker content-second-end"></div>
                                        <div class="background-masker content-third-line"></div>
                                        <div class="background-masker content-third-end"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="placeholder-iio-wrapper">
                                    <div class="iio-item mb-2">
                                        <div class="animated-background">
                                            <div class="background-masker header-top"></div>
                                            <div class="background-masker header-left"></div>
                                            <div class="background-masker header-right"></div>
                                            <div class="background-masker header-bottom"></div>
                                            <div class="background-masker subheader-left"></div>
                                            <div class="background-masker subheader-right"></div>
                                            <div class="background-masker subheader-bottom"></div>
                                            <div class="background-masker content-top"></div>
                                            <div class="background-masker content-first-end"></div>
                                            <div class="background-masker content-second-line"></div>
                                            <div class="background-masker content-second-end"></div>
                                            <div class="background-masker content-third-line"></div>
                                            <div class="background-masker content-third-end"></div>
                                        </div>
                                    </div>
                                    <div class="iio-item mb-2">
                                        <div class="animated-background">
                                            <div class="background-masker header-top"></div>
                                            <div class="background-masker header-left"></div>
                                            <div class="background-masker header-right"></div>
                                            <div class="background-masker header-bottom"></div>
                                            <div class="background-masker subheader-left"></div>
                                            <div class="background-masker subheader-right"></div>
                                            <div class="background-masker subheader-bottom"></div>
                                            <div class="background-masker content-top"></div>
                                            <div class="background-masker content-first-end"></div>
                                            <div class="background-masker content-second-line"></div>
                                            <div class="background-masker content-second-end"></div>
                                            <div class="background-masker content-third-line"></div>
                                            <div class="background-masker content-third-end"></div>
                                        </div>
                                    </div>
                                    <div class="iio-item mb-2">
                                        <div class="animated-background">
                                            <div class="background-masker header-top"></div>
                                            <div class="background-masker header-left"></div>
                                            <div class="background-masker header-right"></div>
                                            <div class="background-masker header-bottom"></div>
                                            <div class="background-masker subheader-left"></div>
                                            <div class="background-masker subheader-right"></div>
                                            <div class="background-masker subheader-bottom"></div>
                                            <div class="background-masker content-top"></div>
                                            <div class="background-masker content-first-end"></div>
                                            <div class="background-masker content-second-line"></div>
                                            <div class="background-masker content-second-end"></div>
                                            <div class="background-masker content-third-line"></div>
                                            <div class="background-masker content-third-end"></div>
                                        </div>
                                    </div>
                                    <div class="iio-item mb-2">
                                        <div class="animated-background">
                                            <div class="background-masker header-top"></div>
                                            <div class="background-masker header-left"></div>
                                            <div class="background-masker header-right"></div>
                                            <div class="background-masker header-bottom"></div>
                                            <div class="background-masker subheader-left"></div>
                                            <div class="background-masker subheader-right"></div>
                                            <div class="background-masker subheader-bottom"></div>
                                            <div class="background-masker content-top"></div>
                                            <div class="background-masker content-first-end"></div>
                                            <div class="background-masker content-second-line"></div>
                                            <div class="background-masker content-second-end"></div>
                                            <div class="background-masker content-third-line"></div>
                                            <div class="background-masker content-third-end"></div>
                                        </div>
                                    </div>
                                    <div class="iio-item mb-2">
                                        <div class="animated-background">
                                            <div class="background-masker header-top"></div>
                                            <div class="background-masker header-left"></div>
                                            <div class="background-masker header-right"></div>
                                            <div class="background-masker header-bottom"></div>
                                            <div class="background-masker subheader-left"></div>
                                            <div class="background-masker subheader-right"></div>
                                            <div class="background-masker subheader-bottom"></div>
                                            <div class="background-masker content-top"></div>
                                            <div class="background-masker content-first-end"></div>
                                            <div class="background-masker content-second-line"></div>
                                            <div class="background-masker content-second-end"></div>
                                            <div class="background-masker content-third-line"></div>
                                            <div class="background-masker content-third-end"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block modals %}
    <!-- Modal Filtros -->
    <div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="modalFiltroLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFiltroLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Eliminar IIO <span id="dataM"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar esta IIO?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:deleteiio()" class="btn btn-primary">Aceptar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal Opciones IIO -->
    <div class="modal fade" id="modalOpcionesIIO" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalOpcionesIIOLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOpcionesIIOLabel">Opciones IIO  <span id="dataM"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar esta IIO?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="javascript:deleteiio()" class="btn btn-primary">Aceptar</button>
            </div>
            </div>
        </div>
    </div>
{% endblock modals %}

{% block extrajs %}
    <script src="{{ config.SERVIDOR_NODEAPI }}/socket/socket.io.min.js"></script>
    <script src="{% static 'vendor/highmaps/highmaps.js' %}"></script>
    <script src="{% static 'vendor/highmaps/data.js' %}"></script>
    <script src="{% static 'vendor/highmaps/exporting.js' %}"></script>
    <script src="{% static 'vendor/highmaps/offline-exporting.js' %}"></script>
    <script src="{% static 'vendor/amchart/core.js' %}"></script>
    <script src="{% static 'vendor/amchart/charts.js' %}"></script>
    <script src="{% static 'vendor/amchart/themes/moonrisekingdom.js' %}"></script>
    <script src="{% static 'vendor/amchart/themes/animated.js' %}"></script>
    <script src="{% static 'vendor/dexiejs/dexie.js' %}"></script>
    <script src="{% static 'vendor/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'vendor/nosleep/nosleep.min.js' %}"></script>
    <script src="{% static 'vendor/bsmultiselect/js/BsMultiSelect.min.js' %}"></script>
    <script src="{% static 'vendor/scrollmagic/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'principal/index.js' %}"></script>
    <script>
    window.is_supervisor = false;
    window.audioPop = '{% static "audio/pop.mp3" %}';
    window.audioAlerta = '{% static "audio/alerta.mp3" %}';
    window.servidorNodeapi = '{{ config.SERVIDOR_NODEAPI }}';
    window.mapVenezuela = "{% static 'maps/venezuela4.json' %}";
    {% if request.user|has_group:"supervisores" %} 
    is_supervisor = true;
    {% endif %}
    </script>
    <script async src="{% static 'realtime/js/index.js' %}"></script>
{% endblock extrajs %}